/* line 1, themes/Daily/source/css/_normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 6, themes/Daily/source/css/_normalize.scss */
body {
  margin: 0; }

/* line 9, themes/Daily/source/css/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

/* line 23, themes/Daily/source/css/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/* line 30, themes/Daily/source/css/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 34, themes/Daily/source/css/_normalize.scss */
[hidden],
template {
  display: none; }

/* line 38, themes/Daily/source/css/_normalize.scss */
a {
  background-color: transparent; }

/* line 41, themes/Daily/source/css/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* line 45, themes/Daily/source/css/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 48, themes/Daily/source/css/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 52, themes/Daily/source/css/_normalize.scss */
dfn {
  font-style: italic; }

/* line 55, themes/Daily/source/css/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 59, themes/Daily/source/css/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 63, themes/Daily/source/css/_normalize.scss */
small {
  font-size: 80%; }

/* line 66, themes/Daily/source/css/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 73, themes/Daily/source/css/_normalize.scss */
sup {
  top: -0.5em; }

/* line 76, themes/Daily/source/css/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 79, themes/Daily/source/css/_normalize.scss */
img {
  border: 0.5em; }

/* line 82, themes/Daily/source/css/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 85, themes/Daily/source/css/_normalize.scss */
figure {
  margin: 1em 40px; }

/* line 88, themes/Daily/source/css/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0; }

/* line 92, themes/Daily/source/css/_normalize.scss */
pre {
  overflow: auto; }

/* line 95, themes/Daily/source/css/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 102, themes/Daily/source/css/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 111, themes/Daily/source/css/_normalize.scss */
button {
  overflow: visible; }

/* line 114, themes/Daily/source/css/_normalize.scss */
button,
select {
  text-transform: none; }

/* line 118, themes/Daily/source/css/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 125, themes/Daily/source/css/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 129, themes/Daily/source/css/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 134, themes/Daily/source/css/_normalize.scss */
input {
  line-height: normal; }

/* line 137, themes/Daily/source/css/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 142, themes/Daily/source/css/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 146, themes/Daily/source/css/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 150, themes/Daily/source/css/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 155, themes/Daily/source/css/_normalize.scss */
legend {
  border: 0;
  padding: 0; }

/* line 159, themes/Daily/source/css/_normalize.scss */
textarea {
  overflow: auto; }

/* line 162, themes/Daily/source/css/_normalize.scss */
optgroup {
  font-weight: bold; }

/* line 165, themes/Daily/source/css/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 169, themes/Daily/source/css/_normalize.scss */
td,
th {
  padding: 0; }

/* line 1, themes/Daily/source/css/_daily.scss */
body,
html {
  height: 100%; }

/*--------------------------------------------------------------
Reset
--------------------------------------------------------------*/
/* line 8, themes/Daily/source/css/_daily.scss */
a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
/* line 79, themes/Daily/source/css/_daily.scss */
button,
input,
select,
textarea {
  color: #3a3a3a;
  font-family: 'Open sans',sans-serif;
  font-size: 100%;
  line-height: 1.5; }

/* line 88, themes/Daily/source/css/_daily.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: bold;
  margin: 1.5em 0 1em; }

/* line 98, themes/Daily/source/css/_daily.scss */
p {
  font-size: 14px;
  color: #333;
  margin: 1em 0;
  line-height: 28px; }

/* line 105, themes/Daily/source/css/_daily.scss */
b,
strong {
  font-weight: bold; }

/* line 109, themes/Daily/source/css/_daily.scss */
cite,
dfn,
em,
i {
  font-style: italic; }

/* line 115, themes/Daily/source/css/_daily.scss */
address {
  margin: 0 0 1.5em; }

/* line 118, themes/Daily/source/css/_daily.scss */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

/* line 129, themes/Daily/source/css/_daily.scss */
code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

/* line 135, themes/Daily/source/css/_daily.scss */
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

/* line 140, themes/Daily/source/css/_daily.scss */
ins,
mark {
  background: #fff9c0;
  text-decoration: none; }

/* line 145, themes/Daily/source/css/_daily.scss */
sub,
sup {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 153, themes/Daily/source/css/_daily.scss */
sup {
  bottom: 1ex; }

/* line 156, themes/Daily/source/css/_daily.scss */
sub {
  top: 0.5ex; }

/* line 159, themes/Daily/source/css/_daily.scss */
small {
  font-size: 75%; }

/* line 162, themes/Daily/source/css/_daily.scss */
big {
  font-size: 125%; }

/*--------------------------------------------------------------
 Elements
--------------------------------------------------------------*/
/* line 168, themes/Daily/source/css/_daily.scss */
a#more,
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #d3d3d3 1px solid;
  margin: 40px 0;
  padding: 0; }

/* line 177, themes/Daily/source/css/_daily.scss */
ol,
ul {
  margin: 0; }

/* line 181, themes/Daily/source/css/_daily.scss */
ul {
  list-style: none; }

/* line 184, themes/Daily/source/css/_daily.scss */
ol {
  list-style: decimal; }

/* line 187, themes/Daily/source/css/_daily.scss */
li > ol,
li > ul {
  margin-bottom: 0;
  margin-left: 1.5em; }

/* line 192, themes/Daily/source/css/_daily.scss */
dt {
  font-weight: bold; }

/* line 195, themes/Daily/source/css/_daily.scss */
dd {
  margin: 0 1.5em 1.5em; }

/* line 198, themes/Daily/source/css/_daily.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

/* line 204, themes/Daily/source/css/_daily.scss */
figure {
  margin: 0; }

/* line 207, themes/Daily/source/css/_daily.scss */
table {
  margin: 0 0 1.5em;
  width: 100%; }

/* line 211, themes/Daily/source/css/_daily.scss */
th {
  font-weight: bold; }

/* line 214, themes/Daily/source/css/_daily.scss */
h1, h2, h3, h4 {
  font-family: -apple-system, BlinkMacSystemFont,"Helvetica Neue","PingFang-SC-Regular","STHeiti", "Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei"; }

/* line 216, themes/Daily/source/css/_daily.scss */
h1 {
  font-size: 1.250em; }

/* line 219, themes/Daily/source/css/_daily.scss */
h1:hover {
  opacity: 0.7; }

/* line 222, themes/Daily/source/css/_daily.scss */
h2 {
  font-size: 1.2em; }

/* line 225, themes/Daily/source/css/_daily.scss */
h3 {
  font-weight: bold;
  font-size: 18px; }

/* line 229, themes/Daily/source/css/_daily.scss */
h4 {
  font-size: 0.875em; }

/* line 231, themes/Daily/source/css/_daily.scss */
blockquote p {
  margin: 0; }

/* line 234, themes/Daily/source/css/_daily.scss */
strong {
  font-weight: bold; }

/* line 237, themes/Daily/source/css/_daily.scss */
em {
  font-style: italic; }

/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/
/* line 243, themes/Daily/source/css/_daily.scss */
a {
  color: #3a3a3a;
  text-decoration: none; }

/* line 247, themes/Daily/source/css/_daily.scss */
a:visited {
  color: #3a3a3a; }

/* line 250, themes/Daily/source/css/_daily.scss */
a:active,
a:focus,
a:hover {
  color: #3a3a3a;
  opacity: 0.8; }

/*--------------------------------------------------------------
Grad
--------------------------------------------------------------*/
/* line 259, themes/Daily/source/css/_daily.scss */
.row {
  width: 100%;
  display: block;
  box-sizing: border-box; }
  /* line 263, themes/Daily/source/css/_daily.scss */
  .row:after {
    content: "";
    display: table;
    clear: both; }

/* line 270, themes/Daily/source/css/_daily.scss */
.col-1-1 {
  width: 100%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box; }

/* line 270, themes/Daily/source/css/_daily.scss */
.col-1-2 {
  width: 50%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box; }

/* line 270, themes/Daily/source/css/_daily.scss */
.col-1-3 {
  width: 33.33333%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box; }

/* line 270, themes/Daily/source/css/_daily.scss */
.col-1-4 {
  width: 25%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box; }

/* line 270, themes/Daily/source/css/_daily.scss */
.col-1-5 {
  width: 20%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box; }

/* line 270, themes/Daily/source/css/_daily.scss */
.col-1-6 {
  width: 16.66667%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box; }

/* line 270, themes/Daily/source/css/_daily.scss */
.col-1-7 {
  width: 14.28571%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box; }

/* line 270, themes/Daily/source/css/_daily.scss */
.col-1-8 {
  width: 12.5%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box; }

/* line 270, themes/Daily/source/css/_daily.scss */
.col-1-9 {
  width: 11.11111%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box; }

/* line 270, themes/Daily/source/css/_daily.scss */
.col-1-10 {
  width: 10%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box; }

/*--------------------------------------------------------------
Common
--------------------------------------------------------------*/
/* line 280, themes/Daily/source/css/_daily.scss */
.show-force {
  display: block !important; }

/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
/* line 286, themes/Daily/source/css/_daily.scss */
.site-content {
  min-height: calc(100% - 274px); }

/* line 289, themes/Daily/source/css/_daily.scss */
.content-area {
  padding-top: 70px; }

/* line 292, themes/Daily/source/css/_daily.scss */
.error404 .content-area,
.page .content-area {
  padding-top: 120px; }

/* line 296, themes/Daily/source/css/_daily.scss */
.odd {
  background: #f5f5f5;
  position: relative; }

/* line 300, themes/Daily/source/css/_daily.scss */
.even {
  background: white;
  position: relative; }

/* line 304, themes/Daily/source/css/_daily.scss */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px; }

/* line 310, themes/Daily/source/css/_daily.scss */
.inside-wrapper {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 50px; }

/* line 315, themes/Daily/source/css/_daily.scss */
.attachment-post-thumbnail {
  margin: 0 auto 35px;
  transition: opacity 0.7s;
  display: block; }
  /* line 319, themes/Daily/source/css/_daily.scss */
  .attachment-post-thumbnail:hover {
    opacity: 0.7; }

/* line 323, themes/Daily/source/css/_daily.scss */
.entry-title {
  font-family: -apple-system, BlinkMacSystemFont,"Helvetica Neue","PingFang-SC-Regular","STHeiti", "Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei";
  letter-spacing: 0.2em;
  color: #000;
  text-align: center;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 1.3em; }
  /* line 331, themes/Daily/source/css/_daily.scss */
  .entry-title a {
    color: #000;
    font-weight: 700;
    text-decoration: none; }
  /* line 336, themes/Daily/source/css/_daily.scss */
  .entry-title:after {
    content: "";
    height: 2px;
    width: 50px;
    background: black;
    display: block;
    margin: 20px auto 0; }
  /* line 344, themes/Daily/source/css/_daily.scss */
  .entry-title:hover {
    opacity: 0.7; }

/* line 348, themes/Daily/source/css/_daily.scss */
.home .entry-content {
  margin: 1.5em 0; }
  /* line 350, themes/Daily/source/css/_daily.scss */
  .home .entry-content p {
    text-align: center; }

/* line 354, themes/Daily/source/css/_daily.scss */
.posted-on {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont,"Helvetica Neue","PingFang-SC-Regular","STHeiti", "Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei";
  font-size: 0.688em;
  text-transform: uppercase;
  letter-spacing: 0.2em; }

/* line 361, themes/Daily/source/css/_daily.scss */
.tags-links {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont,"Helvetica Neue","Microsoft YaHei","PingFang-SC-Regular","STHeiti", "Helvetica","Arial","Verdana","sans-serif";
  font-size: 0.800em;
  font-style: normal;
  margin-bottom: 40px; }
  /* line 367, themes/Daily/source/css/_daily.scss */
  .tags-links a {
    margin: 0 5px;
    font-style: italic; }

/* line 372, themes/Daily/source/css/_daily.scss */
.pager {
  padding: 1.5em 0; }
  /* line 374, themes/Daily/source/css/_daily.scss */
  .pager:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  /* line 383, themes/Daily/source/css/_daily.scss */
  .pager:hover .meta-arraw {
    opacity: 0.8; }
  /* line 387, themes/Daily/source/css/_daily.scss */
  .pager .previous {
    float: right;
    text-align: right;
    width: 50%; }
  /* line 392, themes/Daily/source/css/_daily.scss */
  .pager .next {
    float: left;
    width: 50%; }
  /* line 396, themes/Daily/source/css/_daily.scss */
  .pager a {
    text-decoration: none;
    color: #3a3a3a;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: -apple-system, BlinkMacSystemFont,"Helvetica Neue","PingFang-SC-Regular","STHeiti", "Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei";
    font-size: 0.750em; }

/* line 405, themes/Daily/source/css/_daily.scss */
.meta-arraw {
  width: 10px;
  height: 17px;
  background: url("../images/arrow-left.svg") no-repeat;
  display: inline-block;
  margin-bottom: -4px;
  margin-right: 5px;
  opacity: 0.3;
  transition: opacity 0.5s ease; }

/* line 415, themes/Daily/source/css/_daily.scss */
.meta-arraw-left {
  background: url("../images/arrow-left.svg") no-repeat; }

/* line 418, themes/Daily/source/css/_daily.scss */
.meta-arraw-right {
  background: url("../images/arrow-right.svg") no-repeat; }

/*--------------------------------------------------------------
Comment
--------------------------------------------------------------*/
/* line 424, themes/Daily/source/css/_daily.scss */
.comment {
  margin-top: 70px; }

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
/* line 431, themes/Daily/source/css/_daily.scss */
.footer-widgets {
  font-size: 0.750em;
  z-index: 2;
  position: relative;
  background: #fff;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center; }

/* line 442, themes/Daily/source/css/_daily.scss */
.widget-title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0 0 20px;
  text-align: center; }

/* line 449, themes/Daily/source/css/_daily.scss */
.widget-text input[type="text"] {
  width: 200px;
  color: #111;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  padding: 3px; }

/* line 456, themes/Daily/source/css/_daily.scss */
.widget-text input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  -webkit-appearance: button;
  font-size: 0.8rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em; }

/* line 470, themes/Daily/source/css/_daily.scss */
.custom-widget-content p {
  text-align: left; }

/* line 473, themes/Daily/source/css/_daily.scss */
.custom-widget-content ul {
  list-style: disc;
  display: inline-block; }

/* line 478, themes/Daily/source/css/_daily.scss */
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -999em; }
  /* line 486, themes/Daily/source/css/_daily.scss */
  .icon.icon-github {
    background-image: url("../images/github.svg"); }
  /* line 486, themes/Daily/source/css/_daily.scss */
  .icon.icon-weibo {
    background-image: url("../images/weibo.svg"); }
  /* line 486, themes/Daily/source/css/_daily.scss */
  .icon.icon-mail {
    background-image: url("../images/mail.svg"); }
  /* line 486, themes/Daily/source/css/_daily.scss */
  .icon.icon-twitter {
    background-image: url("../images/twitter.svg"); }
  /* line 486, themes/Daily/source/css/_daily.scss */
  .icon.icon-instagram {
    background-image: url("../images/instagram.svg"); }
  /* line 486, themes/Daily/source/css/_daily.scss */
  .icon.icon-500px {
    background-image: url("../images/500px.svg"); }
  /* line 490, themes/Daily/source/css/_daily.scss */
  .icon:hover {
    opacity: 0.7; }

/* line 494, themes/Daily/source/css/_daily.scss */
.site-info {
  text-align: center;
  font-size: 0.750em;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #a2a2a2; }
  /* line 500, themes/Daily/source/css/_daily.scss */
  .site-info .split {
    margin: 0 2px; }
  /* line 503, themes/Daily/source/css/_daily.scss */
  .site-info a {
    text-decoration: none;
    color: #666666; }

/* line 1, themes/Daily/source/css/_nav.scss */
.site-header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 50px;
  padding-right: 50px;
  height: 70px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 15, themes/Daily/source/css/_nav.scss */
  .site-header .button-wrap {
    display: none;
    float: right;
    padding-top: 25px; }
  /* line 20, themes/Daily/source/css/_nav.scss */
  .site-header .menu-toggle {
    width: 20px;
    height: 20px;
    background: url("../images/menu.svg") center no-repeat;
    text-indent: -99999px;
    overflow: hidden;
    border: none;
    box-shadow: none;
    outline: none;
    opacity: 0.25; }

/* line 32, themes/Daily/source/css/_nav.scss */
.header-inside {
  display: table;
  height: 100%;
  width: 100%; }

/* line 37, themes/Daily/source/css/_nav.scss */
.logo {
  display: table-cell;
  vertical-align: middle; }
  /* line 40, themes/Daily/source/css/_nav.scss */
  .logo a {
    display: inline-block; }
    /* line 42, themes/Daily/source/css/_nav.scss */
    .logo a img {
      display: block;
      height: 60px; }

/* line 48, themes/Daily/source/css/_nav.scss */
.navbar {
  float: right;
  padding-top: 25px; }
  /* line 52, themes/Daily/source/css/_nav.scss */
  .navbar ul:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }
  /* line 59, themes/Daily/source/css/_nav.scss */
  .navbar ul li {
    position: relative;
    float: left;
    margin-left: 20px; }
    /* line 63, themes/Daily/source/css/_nav.scss */
    .navbar ul li a {
      text-decoration: none;
      line-height: 1.5; }
      /* line 66, themes/Daily/source/css/_nav.scss */
      .navbar ul li a:hover {
        opacity: 1; }

/* line 74, themes/Daily/source/css/_nav.scss */
.navbar ul li:before {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  width: 0%;
  height: 1px;
  background: #7e7e7e;
  display: block;
  -webkit-transition: width 0.25s ease;
  transition: width 0.25s ease; }

/* line 86, themes/Daily/source/css/_nav.scss */
.navbar ul li:hover:before {
  width: 100%; }

/* line 1, themes/Daily/source/css/_post.scss */
.post {
  padding-top: 70px;
  padding-bottom: 70px; }
  /* line 5, themes/Daily/source/css/_post.scss */
  .post .nav-links a {
    text-decoration: none;
    color: #3a3a3a;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: -apple-system, BlinkMacSystemFont,"Helvetica Neue","PingFang-SC-Regular","STHeiti", "Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei";
    font-size: 0.750em; }
  /* line 13, themes/Daily/source/css/_post.scss */
  .post .nav-links .meta-arraw {
    opacity: 0.8; }
  /* line 16, themes/Daily/source/css/_post.scss */
  .post .nav-links .nav-previous {
    position: fixed;
    bottom: 64px;
    left: 50px;
    z-index: 29; }
  /* line 22, themes/Daily/source/css/_post.scss */
  .post .nav-links .nav-next {
    position: fixed;
    bottom: 64px;
    right: 50px;
    z-index: 29; }

/* line 30, themes/Daily/source/css/_post.scss */
.entry-content {
  font-family: -apple-system, BlinkMacSystemFont,"Verdana","Helvetica Neue","PingFang-SC-Regular","STHeiti", "Helvetica","Arial","sans-serif", "Microsoft YaHei";
  line-height: 1.7;
  word-wrap: break-word;
  letter-spacing: 0.05em; }
  /* line 35, themes/Daily/source/css/_post.scss */
  .entry-content ::selection {
    background: #b2d7fe;
    text-decoration: underline; }
  /* line 39, themes/Daily/source/css/_post.scss */
  .entry-content ol,
  .entry-content ul {
    margin: 0 0 1.5em 3em; }
  /* line 43, themes/Daily/source/css/_post.scss */
  .entry-content ul {
    list-style: disc; }
  /* line 46, themes/Daily/source/css/_post.scss */
  .entry-content blockquote {
    color: #aaa;
    margin: 1em 0;
    padding: 0 0 0 30px;
    border-left: 4px solid #aaa; }
  /* line 53, themes/Daily/source/css/_post.scss */
  .entry-content p img {
    display: block;
    margin: 0 auto; }
  /* line 57, themes/Daily/source/css/_post.scss */
  .entry-content a:link {
    color: #3769c9; }
  /* line 60, themes/Daily/source/css/_post.scss */
  .entry-content a:visited {
    color: #3769c9; }
  /* line 63, themes/Daily/source/css/_post.scss */
  .entry-content a:active,
  .entry-content a:focus,
  .entry-content a:hover {
    color: #3769c9;
    opacity: 0.8; }

/*
 * From https://github.com/pinggod/hexo-theme-apollo/blob/master/source/scss/_partial/post.scss
 */
/* line 4, themes/Daily/source/css/_highlight.scss */
code,
pre {
  font-size: 0.8em;
  background-color: #f8f8f8;
  font-family: 'Roboto Mono', Monaco, courier, monospace; }

/* line 11, themes/Daily/source/css/_highlight.scss */
code {
  padding: 0.2em 0.4em;
  background-color: #efefef;
  border-radius: 3px; }

/* line 18, themes/Daily/source/css/_highlight.scss */
pre .line {
  min-height: 1em; }

/* line 23, themes/Daily/source/css/_highlight.scss */
.highlight {
  position: relative;
  margin: 1em 0;
  border-radius: 2px;
  line-height: 1.1em;
  background-color: #f8f8f8;
  border: 1px solid #eeeeee;
  overflow-x: auto; }
  /* line 31, themes/Daily/source/css/_highlight.scss */
  .highlight table, .highlight tr, .highlight td {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    margin: 0; }
  /* line 37, themes/Daily/source/css/_highlight.scss */
  .highlight .gutter {
    display: none; }
  /* line 40, themes/Daily/source/css/_highlight.scss */
  .highlight .code pre {
    padding: 1.2em 1.4em;
    line-height: 1.5em;
    margin: 0; }

/* line 47, themes/Daily/source/css/_highlight.scss */
.highlight.html .code:after, .highlight.js .code:after, .highlight.bash .code:after, .highlight.css .code:after, .highlight.scss .code:after, .highlight.diff .code:after, .highlight.java .code:after, .highlight.xml .code:after, .highlight.python .code:after, .highlight.json .code:after, .highlight.swift .code:after, .highlight.ruby .code:after, .highlight.perl .code:after, .highlight.php .code:after, .highlight.c .code:after, .highlight.cpp .code:after, .highlight.ts .code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600; }

/* line 62, themes/Daily/source/css/_highlight.scss */
.highlight.html .code:after {
  content: "HTML"; }

/* line 62, themes/Daily/source/css/_highlight.scss */
.highlight.js .code:after {
  content: "JS"; }

/* line 62, themes/Daily/source/css/_highlight.scss */
.highlight.bash .code:after {
  content: "BASH"; }

/* line 62, themes/Daily/source/css/_highlight.scss */
.highlight.css .code:after {
  content: "CSS"; }

/* line 62, themes/Daily/source/css/_highlight.scss */
.highlight.scss .code:after {
  content: "SCSS"; }

/* line 62, themes/Daily/source/css/_highlight.scss */
.highlight.diff .code:after {
  content: "DIFF"; }

/* line 62, themes/Daily/source/css/_highlight.scss */
.highlight.java .code:after {
  content: "JAVA"; }

/* line 62, themes/Daily/source/css/_highlight.scss */
.highlight.xml .code:after {
  content: "XML"; }

/* line 62, themes/Daily/source/css/_highlight.scss */
.highlight.python .code:after {
  content: "PYTHON"; }

/* line 62, themes/Daily/source/css/_highlight.scss */
.highlight.json .code:after {
  content: "JSON"; }

/* line 62, themes/Daily/source/css/_highlight.scss */
.highlight.swift .code:after {
  content: "SWIFT"; }

/* line 62, themes/Daily/source/css/_highlight.scss */
.highlight.ruby .code:after {
  content: "RUBY"; }

/* line 62, themes/Daily/source/css/_highlight.scss */
.highlight.perl .code:after {
  content: "PERL"; }

/* line 62, themes/Daily/source/css/_highlight.scss */
.highlight.php .code:after {
  content: "PHP"; }

/* line 62, themes/Daily/source/css/_highlight.scss */
.highlight.c .code:after {
  content: "C"; }

/* line 62, themes/Daily/source/css/_highlight.scss */
.highlight.java .code:after {
  content: "JAVA"; }

/* line 62, themes/Daily/source/css/_highlight.scss */
.highlight.cpp .code:after {
  content: "CPP"; }

/* line 62, themes/Daily/source/css/_highlight.scss */
.highlight.ts .code:after {
  content: "TS"; }

/* line 72, themes/Daily/source/css/_highlight.scss */
.highlight.cpp .code:after {
  content: 'C++'; }

/* line 76, themes/Daily/source/css/_highlight.scss */
pre {
  color: #525252; }
  /* line 78, themes/Daily/source/css/_highlight.scss */
  pre .function .keyword,
  pre .constant {
    color: #0092db; }
  /* line 82, themes/Daily/source/css/_highlight.scss */
  pre .keyword,
  pre .attribute {
    color: #e96900; }
  /* line 86, themes/Daily/source/css/_highlight.scss */
  pre .number,
  pre .literal {
    color: #ae81ff; }
  /* line 90, themes/Daily/source/css/_highlight.scss */
  pre .tag,
  pre .tag .title,
  pre .change,
  pre .winutils,
  pre .flow,
  pre .lisp .title,
  pre .clojure .built_in,
  pre .nginx .title,
  pre .tex .special {
    color: #2973b7; }
  /* line 101, themes/Daily/source/css/_highlight.scss */
  pre .symbol,
  pre .symbol .string,
  pre .value,
  pre .regexp {
    color: #42b983; }
  /* line 107, themes/Daily/source/css/_highlight.scss */
  pre .title {
    color: #83B917; }
  /* line 110, themes/Daily/source/css/_highlight.scss */
  pre .tag .value,
  pre .string,
  pre .subst,
  pre .haskell .type,
  pre .preprocessor,
  pre .ruby .class .parent,
  pre .built_in,
  pre .sql .aggregate,
  pre .django .template_tag,
  pre .django .variable,
  pre .smalltalk .class,
  pre .javadoc,
  pre .django .filter .argument,
  pre .smalltalk .localvars,
  pre .smalltalk .array,
  pre .attr_selector,
  pre .pseudo,
  pre .addition,
  pre .stream,
  pre .envvar,
  pre .apache .tag,
  pre .apache .cbracket,
  pre .tex .command,
  pre .prompt {
    color: #42b983; }
  /* line 136, themes/Daily/source/css/_highlight.scss */
  pre .comment,
  pre .java .annotation,
  pre .python .decorator,
  pre .template_comment,
  pre .pi,
  pre .doctype,
  pre .shebang,
  pre .apache .sqbracket,
  pre .tex .formula {
    color: #b3b3b3; }
  /* line 147, themes/Daily/source/css/_highlight.scss */
  pre .deletion {
    color: #BA4545; }
  /* line 150, themes/Daily/source/css/_highlight.scss */
  pre .coffeescript .javascript,
  pre .javascript .xml,
  pre .tex .formula,
  pre .xml .javascript,
  pre .xml .vbscript,
  pre .xml .css,
  pre .xml .cdata {
    opacity: 0.5; }

/* line 1, themes/Daily/source/css/_archive.scss */
.archive {
  padding-bottom: 60px; }
  /* line 4, themes/Daily/source/css/_archive.scss */
  .archive h2.year {
    color: #444444; }
  /* line 8, themes/Daily/source/css/_archive.scss */
  .archive ul.list {
    padding-left: 50px; }
    /* line 10, themes/Daily/source/css/_archive.scss */
    .archive ul.list li {
      padding: 10px 0;
      line-height: 1.5; }
  /* line 15, themes/Daily/source/css/_archive.scss */
  .archive .date {
    margin-right: 30px;
    color: #7f8c8d; }

/* line 1, themes/Daily/source/css/_comment.scss */
#comment #ds-thread #ds-reset a.ds-like-thread-button {
  background-color: #fff;
  background-image: none; }

/* line 5, themes/Daily/source/css/_comment.scss */
#comment #ds-reset .ds-gradient-bg {
  background: none; }

/* line 8, themes/Daily/source/css/_comment.scss */
#comment #ds-thread #ds-reset .ds-powered-by {
  display: none; }

@media screen and (max-width: 767px) {
  /* line 2, themes/Daily/source/css/_mobile.scss */
  .logo a img {
    height: 36px; }
  /* line 5, themes/Daily/source/css/_mobile.scss */
  .site-content {
    min-height: auto; }
    /* line 7, themes/Daily/source/css/_mobile.scss */
    .site-content .content-area {
      padding-top: 0; }
  /* line 11, themes/Daily/source/css/_mobile.scss */
  .site-header {
    position: relative; }
    /* line 13, themes/Daily/source/css/_mobile.scss */
    .site-header .navbar {
      display: none;
      float: none;
      position: absolute;
      left: 0;
      top: 70px;
      padding: 15px 0 15px 30px;
      width: 100%;
      background: #efefef;
      border-bottom: 1px solid #dcdcdc;
      box-shadow: 0 2px 3px #dfdfdf;
      z-index: 9999; }
      /* line 26, themes/Daily/source/css/_mobile.scss */
      .site-header .navbar ul li {
        width: 100%;
        padding: 10px 0; }
        /* line 29, themes/Daily/source/css/_mobile.scss */
        .site-header .navbar ul li::before {
          display: none; }
    /* line 35, themes/Daily/source/css/_mobile.scss */
    .site-header .button-wrap {
      display: block; }
  /* line 41, themes/Daily/source/css/_mobile.scss */
  .post .nav-links {
    display: none; }
  /* line 48, themes/Daily/source/css/_mobile.scss */
  .footer-widgets .row .col-1-1,
  .footer-widgets .row .col-1-2,
  .footer-widgets .row .col-1-3,
  .footer-widgets .row .col-1-4 {
    float: none;
    width: auto;
    margin-bottom: 50px; }
  /* line 59, themes/Daily/source/css/_mobile.scss */
  .archive ul.list {
    padding-left: 20px; } }

@media screen and (max-width: 320px) {
  /* line 67, themes/Daily/source/css/_mobile.scss */
  .container {
    padding-left: 20px;
    padding-right: 20px; }
  /* line 71, themes/Daily/source/css/_mobile.scss */
  .site-header,
  .page .site-header,
  .home.paged .site-header {
    padding-left: 20px;
    padding-right: 20px; }
  /* line 78, themes/Daily/source/css/_mobile.scss */
  .footer-widgets .inside-wrapper {
    padding-left: 5px;
    padding-right: 5px; } }
